.Home {
  /* width: 100vw; */
}

.Home-header {
  height: 40vh;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url(./../../images/FrontPage.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 12vw;
  text-shadow: 5px 5px #000;
  color: #ddd;
}

.Home-below-header {
  width: 100%;
  flex-direction: row;
  display: flex;
}

.Home-below-about {
  width: 60%;
  padding: 5% 10% 5% 10%;
}

.Home-below-media {
  width: 40%;
}

.Home-below-media-icons {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.Home-below-media-icons-icon {
  height: 20vh;
  width: 20%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}
#facebook_icon {
  background-image: url(./../../images/Facebook_icon.svg);
}
#instagram_icon {
  background-image: url(./../../images/Instagram_icon.svg);
}
#twitter_icon {
  background-image: url(./../../images/Twitter_icon.svg);
}
#youtube_icon {
  background-image: url(./../../images/YouTube_icon.svg);
}

.facebook_frame {
  border: none;
  overflow: auto;
  /* height: 100%; */
  /* width: 100%; */
}

.frame_container {
  height: 80%;
  width: 100%;
  overflow: hidden;
  position: relative;
  /* padding: 5% 10% 5% 10%; */
  /* flex: 1;
  display: flex; */

}

.frame_container_animation {
  height: 100%;
  width: 200%;
  overflow: hidden;

  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;

  animation-name: scrolling;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;

  position: relative;
  
  /* left: 0%; */
}

.frame_container_item {
  height: 100%;
  overflow: auto;
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.frame_container_animation:hover {
  animation-name: pause;
  animation-duration: 60s;
  animation-timing-function: ease-in-out;
}

@keyframes scrolling {
  from {
    /* background-color: red; */
    position: relative;
    left: 0%;
  }
  to {
    /* background-color: yellow; */
    position: relative;
    left: -100%;
  }
}

@keyframes pause {
  from {
    /* background-color: red; */
    position: relative;
  }
  to {
    /* background-color: yellow; */
    position: relative;
    left: -100%;
  }
}


.frame_containerv2 {
  height: 80%;
  width: 100%;
  overflow: hidden;
  /* padding: 5% 10% 5% 10%; */
  /* flex: 1;
  display: flex; */

}



.frame_container_itemv2 {
  height: 100%;
  overflow: auto;
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.frame_container_scroll_left {
  width: 5%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;

  color: #000 !important;

  background-color: darkgray !important;
  border:0 !important;
  border-radius: 0% !important;

  box-shadow: none !important;
}

.frame_container_scroll_right {
  width: 5%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;

  color: #000 !important;

  background-color: darkgray !important;
  border: 0 !important;
  border-radius: 0% !important;

  box-shadow: none !important;
}

.frame_container_scroll_left:hover {
  opacity: 0.7;
}

.frame_container_scroll_right:hover {
  opacity: 0.7;
}